body {
  min-height: calc(50vh - 0.5rem);
  max-height: calc(50vh - 0.5rem);
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}

#abelavatar {
  flex-shrink: 0;
  width: 150px;
  max-width: 22.5vw;
  cursor: pointer;
}

.pink-fill {
  fill: pink !important
}

.open-mouth {
  opacity: 0;
  transition: 0.05s ease-in-out;
}

#abelavatar:hover .open-mouth {
  opacity: 1;
}