.docs {
    position: relative;
    margin: auto;
    border-spacing: 30px;
    text-align: center;
    margin-top: 5%;
    table-layout: fixed;
    width: 100%;
}
@media (max-width: 1200px) {
    .docs {
        margin-top: 30%;
    }
}